<!doctype html>
<html lang="en" class="news-html">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.98.0">
  <title>Todo Signup</title>

    <link rel="icon" href="images/icon.ico">

  <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sign-in/">


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="/docs/5.2/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
  <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
  <link rel="manifest" href="/docs/5.2/assets/img/favicons/manifest.json">
  <link rel="mask-icon" href="/docs/5.2/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anek+Malayalam&family=Montserrat:wght@100;500;700&display=swap" rel="stylesheet">
  <link rel="icon" href="/docs/5.2/assets/img/favicons/favicon.ico">
  <meta name="theme-color" content="#712cf9">

  <!-- Custom styles for this template -->
  <link href="css/styles.css" rel="stylesheet">

</head>

<body  class="news-html">

  <form action="/signup" class=" w-100 m-auto" method="POST">

    <div class="box-news">
      <h4>Create Acount</h4>
      <%- include ("partials/messages") %>

      <div class="form-input-group">
        <input name="username" type="text" class="form-input" autocomplete="off" placeholder="Username" value="<%= typeof username != "undefined" ? username: "" %>" autofocus>
      </div>
      <div class="form-input-group">
        <input name="email" type="email" class="form-input" autocomplete="off" placeholder="Email" value="<%= typeof email != "undefined" ? email: "" %>">
      </div>
      <div class="form-input-group">
        <input name="password" type="password" class="form-input" placeholder="Password" value="<%= typeof password != "undefined" ? password: "" %>">
      </div>
      <div class="form-input-group">
        <input name="cpassword" type="password" class="form-input" placeholder="Confirm password" value="<%= typeof cpassword != "undefined" ? cpassword: "" %>">
      </div>
      <button class="btn btn-lg btn-secondary form-btn btn-signup" type="submit">Create account</button>
      <p class="form-text">Already have an account?<a class="form-link" id="SigninAcc" href="login"> Sign In</a>
      </p>
    </div>

    <p class="copyright">© Copyright 2023 Truly IAS</p>
  </form>

</body>

</html>
